@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;700&family=Montserrat:wght@100;200;300;400;500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
